.dashboard {
  font-family: Arial, Helvetica, sans-serif;
  background: #04091b;
  color: #fffafa;
  margin: 0;
  min-height: 100vh;
}

.dash_right {
  display: flex;
  align-items: center;
}

.dash_h1 {
  padding: 20px;
  font-size: 36px;
  margin-left: 5%;
  font-weight: normal;
}

.dash_h2 {
  padding: 10px 20px;
  font-size: 30px;
  margin-left: 5%;
  font-weight: normal;
}

.dash_button {
  background: #b0aa1b;
  font-size: 36px;
  color: #04091b;
  color: #1e133d;
  padding: 12px;
  transition: all 0.5s;
  border: none;
  margin: 0;
  border-radius: 10px;
}

.dash_button:hover {
  color: #000000;
  background: #dafd16;
  transform: scale(1.09);
  cursor: pointer;
}

.dash_form {
  display: flex;
  flex-direction: column;
}

.dash_input {
  font-size: 24px;
  width: 80%;
  max-width: 400px;
  border: none;
  padding: 10px;
  margin: 20px;
  margin-left: 6%;
}

.dash_button2 {
  width: 80%;
  max-width: 300px;
  margin: 30px 0;
  background: #b0aa1b;
  font-size: 36px;
  color: #04091b;
  padding: 12px;
  transition: all 0.5s;
  border: none;
  border-radius: 10px;
  margin-left: 6%;
  margin-top: 20px;
}

.dash_button2:hover {
  color: #000000;
  background: #dafd16;
  transform: scale(1.09);
  cursor: pointer;
}
